img(src="img/sign.png" alt="" class="sign")
h1 LET'S DRAW SOME ARTS
p make your business much better
.likes
        img.lets_art(src='img/art.png', alt='')
        span Like
        img.lets_art_green(src='img/art2.png', alt='')
        img.lets_phone(src='img/yellowphone.png', alt='')
        img.lets_phone_yellow(src='img/yellow2.png', alt='')
        img.lets_arrow(src='img/grey.png', alt='')
        img.lets_arrow_grey(src='img/arrow.png', alt='')