header
    .top-nav
        .links
            ul
                li
                    i(class="ion-ios-paper-outline")
                    a(href="#") Blog
                li
                    i(class="ion-ios-list-outline")
                    a(href="#") Jobs
                li
                    i(class="ion-speakerphone")
                    a(href="#") Support
                li
                    i(class="ion-ios-world-outline")
                    a(href="#") Arabic
        .social
            .fb
                i(class="ion-social-facebook")
            .tw
                i(class="ion-social-twitter")
            .inst
                i(class="ion-social-instagram-outline")
            .google
                i(class="ion-social-googleplus-outline")
    .logo-nav
        .logo
            p Logo
        .call
            .border_text
            .call_links
                p Saudi Arabia. Alreyadah
            .logo-nav_links
                a(href="#")
                    i(class="ion-ios-telephone-outline")
                a(href="#")
                    i(class="ion-ios-location-outline")
                a(href="#")
                    i(class="ion-email")
    nav.clearfix
        ul
            a(href="#")
                li HOME
            a(href="#")
                li What about ISAMA
            a(href="#")
                li What we do?
            a(href="#")
                li Our Projects
            a(href="#")
                li Excellent Team
            a(href="#")
                li Contact
        .nav_search
            i(class="ion-ios-search-strong")
            p Type your search words
