header
    .top-nav
        .links
            ul
                li
                    a(href="#")
                        i(class="ion-ios-paper-outline")
                        span Blog
                li
                    a(href="#")
                        i(class="ion-ios-list-outline")
                        span Jobs
                li
                    a(href="#")
                        i(class="ion-speakerphone")
                        span Support
                li
                    a(href="#")
                        i(class="ion-ios-world-outline")
                        span Arabic
        .social
            .fb
                a(href="#")
                    i(class="ion-social-facebook")
            .tw
                a(href="#")
                    i(class="ion-social-twitter")
            .inst
                a(href="#")
                    i(class="ion-social-instagram-outline")
            .google
                a(href="#")
                    i(class="ion-social-googleplus-outline")
            .gamburger
                a(href="#")
                    i(class="ion-navicon-round")
        .ul_min
            ul
                li
                    a(href="#")
                        i(class="ion-ios-paper-outline")
                        span Blog
                li
                    a(href="#")
                        i(class="ion-ios-list-outline")
                        span Jobs
                li
                    a(href="#")
                        i(class="ion-speakerphone")
                        span Support
                li
                    a(href="#")
                        i(class="ion-ios-world-outline")
                        span Arabic
    .logo-nav
        .logo
            p Logo
        .call
            .gps
                .border_text
                .call_links
                    p Saudi Arabia. Alreyadah
            .logo-nav_links
                a(href="#")
                    i(class="ion-ios-telephone-outline")
                a(href="#" class="gps_hover")
                    i(class="ion-ios-location-outline")
                a(href="#")
                    i(class="ion-email")
    nav
        ul
            a(href="#")
                li HOME
            a(href="#")
                li What about ISAMA
            a(href="#")
                li What we do?
            a(href="#")
                li Our Projects
            a(href="#")
                li Excellent Team
            a(href="#")
                li Contact
        .nav_search
            a(href="#")
                i(class="ion-ios-search-strong")
            input(type="search" placeholder="Type your search words")
    .clearfix