.whyWe
      .whyWe_ISAMA
        img(src='img/Lamp.png', alt='')
        .whyWe_textwrapper
          h3 What about ISAMA
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. At nihil culpa omnis ipsum fugiat sunt ducimus ratione dolores autem nulla quos id voluptatum cupiditate maiores adipisci dolore quidem, totam mollitia.
      .whyWe_exist
        img(src='img/Tree.png', alt='')
        .whyWe_textwrapper
          h3 Why we exist
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam amet, velit quaerat assumenda blanditiis reiciendis quis sed, similique nesciunt eaque commodi architecto nulla neque, fugit itaque quas, minima ratione nihil!